.heading{
    color: white;
    font-family:'Century Gothic';
    font-size:52px;
    font-weight:lighter;
    background: rgb(51,153,204);
    height: 71px;
    padding-top: 32px;
    padding-bottom: 20px;
    padding-left:33px;
    text-size-adjust:auto;
    margin:0;
    margin-top:0;
  }

  .navigation{
    margin-top: 0px;
    background-color:black;
    opacity: 0.8;
    display:flex;
    height: 37px;
    align-items: center;
    padding-left:24px;
    
    
  }
  .navigation > div{
    color: white;
    padding: 0px 15px;
    align-items: center;
    font-size: 16px;
    padding-top:8px;
    padding-bottom: 8px;
    font-family: Arial;
    font-weight:lighter;
    font-weight: bold;
  }

  .navigationitem:hover{
    background-color:orange;
    color:black;
    margin-top:0;
    margin-bottom:0;
  }
  #navigationitem3{
    text-decoration: none;
    color: white;
  }
  #navigationitem3:hover{
    background-color:orange;
    color:black;
   
  }
  .image{
    position: relative;
    right: -1025px;
  }
  h3{
    margin-left: 100px;
    font-family:'Century Gothic' ;
  }
  
  .star{
    color: red;
  }
  .information{
    margin-left: 100px;
    font-family:'Century Gothic' ;
  }
  .information > div{
    padding-bottom: 25px;
  }
  .information > div >label{
    width:300px;
    display: inline-block;
  }
textarea{
  width:470px;
  height:120px;
  margin-top:12px;
}
select{
  width:170px;
  height:25px;
}
